.Education__container {
	text-align: center;
	background-color: papayawhip;
	max-height: 100%;
}

.Education__title {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.Education__items {
	margin: 50px 100px;
}

.Education__item {
	padding-bottom: 50px;
}

.Education__images {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	height: 128px;
	width: 128px;
	border: 2px solid gray;
}

.Education__images:hover {
	box-shadow: 0px 5px 10px 0px rgba(0.5, 0.5, 0.5, 1);
	cursor: zoom-in;
}

.Education__bigImages {
	margin-top: 50px;
	max-height: 100%;
	max-width: 100%;
	border: 2px solid gray;
}

.Education__cross {
	display: none;
}

.Education__cross_active {
	display: block;
	position: relative;
	left: 86%;
	top: 50px;
}

.Education__cross_active:hover {
	cursor: pointer;
	box-shadow: 0px 5px 10px 0px rgb(219, 11, 11);
}
