.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1400px;
  margin: 70px 200px;
}

img {
  max-width: 400px;
  max-height: 600px;
  border: 6px solid indianred;
  border-radius: 10%;
  margin-right: 40px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.reg {
  font-size: 28px;
  font-weight: 700;
}

.quote {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 100px;
}

.li {
  font-size: 20px;
}

.li > ul {
  list-style-type: circle;
}

.link {
  text-decoration: none;
  color: indianred;
}

.link:hover {
  text-decoration: underline;
}
